@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

.nav {
  height: 6vh;
  width: 100%;
  background-color: #0e1430;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 35px;
}
.home {
  box-sizing: border-box;
  height: 94vh;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  height: 50%;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  margin-top: 40px;
  margin-bottom: 45px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;

  border-radius: 10px;
  border: none;
  transition: 0.2s;
  background: #e0e0e0;
  box-shadow: inset 20px -20px 60px #bebebe, inset -20px 20px 60px #ffffff;
}
button:active {
  box-shadow: none;
}
.btns > button:hover {
  background-color: #ffffff;
}
#gen {
  background-color: #0c1435;
  box-shadow: inset 20px -20px 60px #0c1435, inset -20px 20px 60px #ffffff;
  color: white;
}
#down {
  box-shadow: inset 20px -20px 60px transparent,
    inset -20px 20px 60px transparent;
  border: 2px solid #0c1435;
  color: #0c1435;
  background: transparent;
}
